@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styling for bubbled text */
.bubbled {
  display: inline-block;
  position: relative;
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
  background-color: #9CA3AF;
  color: #FFFFFF;
}

.bubbled::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 0.5rem solid transparent;
  border-bottom-color: #9CA3AF;
}
